<table class="fieldset">
{% for subwidget in field.widgets %}
  {% if subwidget.error %}
  <tr class="error-row">
    <td colspan="2">
      <span class="error">{{ subwidget.error }}</span>
    </td>
  </tr>
  {% endif %}
  <tr class="form-row{% if loop.last %} last{% endif %}{% if loop.first %} first{% endif %}{% if subwidget.classname is defined %} {{ subwidget.classname }}{% endif %}">
  {% if subwidget.render_type == 'checkbox' %}
    <th></th>
    <td>
      {{ subwidget.render()|safe }}
      {% if subwidget.label %}
      <label for="{{ subwidget.id }}">{{ subwidget.label }}</label>
      {% endif %}
    </td>
  {% elif subwidget.render_type == 'hidden' %}
    <td style="display: none" colspan="2">{{ subwidget.render()|safe }}</td>
  {% elif subwidget.render_type == 'full-width' %}
    <td colspan="2">
      {% if subwidget.label %}
      <p class="th"><label for="{{ subwidget.id }}">{{ subwidget.label }}</label></p>
      {% endif %}
      {{ subwidget.render()|safe }}
    </td>
  {% else %}
    <th>
      {% if subwidget.label %}
      <label for="{{ subwidget.id }}">{{ subwidget.label }}</label>
      {% endif %}
    </th>
    <td>
      {{ subwidget.render()|safe }}
    </td>
  {% endif %}
  </tr>
{% endfor %}
</table>
